<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>Zakra Egency</title>
    <link rel="stylesheet" href="clone.css">

</head>
<body>
        <div class="menubar">
            <div class="image">
                <img src="logo.png" alt="no img"
                 height="60px", >
            </div>
            <div class="menuitems">
                <ul>
                    <li class="items"><a href="">Home</a></li>
                    <li class="items"><a href="">About</a></li>
                    <li class="items"><a href="">Shop</a></li>
                    <li class="items"><a href="">Block</a></li>
                    <li class="items"><a href="">Contact</a></li>
                    <li><button class="bt">Download</button></li>
                    

                </ul>
                

            </div>
        </div>

        <div class="second">
            <div class="left">
                <div class="content">
                <h1>Think Different.
                    <br>Make Different.
                </h1>
                <p>Lorem ipsum dolor sit amet 
                    <br> consectetur adipisicing elit.
                  <br>  this is very advance 
                </p>

                <button class="GetStarted">GET STARTED</button>
            </div>
            </div>

            <div class="right">
                 <img src="home-hero-image.png" alt="no image"
                height="500px"> 
            </div>
        </div>



        <!-- icons with images -->

        <div class="main">
            <div class="imgCont">
                <i class="fa fa-search fa-4x " aria-hidden="true" ></i>
                <h4>RESEARCH</h4>
            </div>

            <div class="imgCont">
                <i class="fa fa-podcast fa-4x" aria-hidden="true"></i>
                <h4>IDEAS</h4>
            </div>

            <div class="imgCont">
                <i class="fa fa-search fa-4x " aria-hidden="true" ></i>
                <h4>PIXEL PERFECT
                </h4>
            </div>

            <div class="imgCont">
                <i class="fa  fa-podcast fa-4x " aria-hidden="true" ></i>
                <h4>SEO FRIENDLY
                </h4>
            </div>

            <div class="imgCont">
                <i class="fa fa-search fa-4x " aria-hidden="true" ></i>
                <h4>DESIGN</h4>
            </div>
       
            
        </div>
        <!-- image with text -->
        <div class="main2">
            <div class="left2">
                <img src="zakra-invite.jpg" alt="no image" class="left2img"
                height="300px">
            </div>
            <div class="right2">
                <div class="contant2">
                    <h1>Zakra invites you to build
                        <br>your next side.
                    </h1>
                    <p>lorem is isum solor new generation. at that
                        <br>point of circumstances.
                    </p>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Dolore nostrum provident adipisci sunt suscipit. Voluptate, vel labore, accusantium fuga <br> officia maiores modi esse illum provident <br> temporibus perspiciatis dolores similique dolore?</p>

                </div>
            </div>


         </div>

        <div class="portfolio">
            <h1>Our Awosomo Portfolio</h1>
            <p>lorem is the best case to study about the new generation in 
                 the current period <br>            of time. it can be held later.

            </p>
         </div>

         <!-- portfoloi pictures -->
         <div class="pics1">
            <div class="pic"><img src="./portfolio-image-A.jpg" alt=""></div>
            <div class="pic"><img src="./portfolio-image-b.jpg" alt=""></div>
            <div class="pic"><img src="./portfolio-image-c.jpg" alt=""></div>
            <div class="pic"><img src="./portfolio-image-d.jpg" alt=""></div>
            
         </div>

         <div class="pics2">
            <div class="pic2"><img src="./portfolio-image-e.jpg" alt=""></div>
            <div class="pic2"><img src="./portfolio-image-f.jpg" alt=""></div>
            <div class="pic2"><img src="./portfolio-image-g.jpg" alt=""></div>
            <div class="pic2"><img src="./portfolio-image-h.jpg" alt=""></div>
        
        </div>

        <!-- have any question div -->
        <div class="upfotter">
            <div class="statment">
                <h1>Have any Question?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam facere cumque sed fugit pariatur quas corrupti quis. 
                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, aut quas. Libero eaque assumenda id? Odio temporibus nihil nobis voluptatibus, quae reprehenderi
                </p>
            </div>
            <div class="contactus">
                <button><a href="">Contact us</a></button>
            </div>
        </div>


        <!-- logo image -->
        <div class="logo">
            <div class="logimg"><img src="./logo-wegmans-a.png" alt=""></div>
            <div class="logimg"><img src="./logo-warehouse-b.png" alt=""></div>
            <div class="logimg"><img src="./logo-neuhaus-e.png" alt=""></div>
            <div class="logimg"><img src="./logo-kiehls-f.png" alt=""></div>
            <div class="logimg"><img src="./logo-coast-g.png" alt=""></div>
        </div>


        <!-- footer -->
        <div class="fotter">
            <div class="data">
                <img src="./logo.png" alt="">
                <p>lorem is the new data type <br>which will help
                next <br>generation of the new incyclopedia
                <br>it will tell yuh later</p>
            </div>
            <div class="quicklink">
                <h1>Quick Links</h1>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Block</a></li>
                    <li><a href="">Contact</a></li>
                </ul>

            </div>
            <div class="latestpost">
                <h1>Latest Post</h1>
                <ul>
                    <li><a href="">the big seminar for yuh</a></li>
                    <li><a href="">the best place to visit <br>in your town</a></li>
                    <li><a href="">lets build your buisness from <br>stratch</a></li>
                    <li><a href="">Successfull marketing ads <br> for your buisness</a></li>
                </ul>

            </div>
            <div class="rabta">
                <h1>Contact us</h1>
                <ul>
                    <li>ph: 03211477319</li>
                    <li>email:sp20-bcs-043@cuilahore.edu.pk</li>
                    <li>loc: wapdatown lahore</li>
                    <li>open: 9AM - 10PM</li>
                </ul>
            </div>
        </div>

        <!-- copyright -->
        <div class="copyright">
            <p>Copyright 2022 <strong>ZAKRA EGENCY.</strong> powered by <strong>ZAKRA </strong> and <strong>Abdullah</strong></p>
        </div>





</body>
</html>